@import (less) "bootstrap.css";
@import (less) "bootstrap-theme.css";

body {
  background-color: gainsboro !important;
}

#global-container {
//  margin: 0px !important;
//  padding: 0px !important;
}

textarea {
  resize: none;
}

.inlineBlock {
  display: inline-block;
}

.topAligned {
  vertical-align: top;
}

/*.player-list {*/
/*margin: 0px !important;*/
/*padding: 0px !important;*/

/*}*/

.players {
  border: 1px solid gainsboro;
  background-color: gainsboro;
  border-radius: 0.25em;
}

.player {
  font-family:"Comic Sans MS" cursive sans-serif;
  text-align: center;
  background-color: #FEC3C3 !important;
  border: 1px solid lightcoral !important;
  padding: 0.5em;
  border-radius: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  /*list-style-type: none;*/
}

.onBreak {
//  background-color: gainsboro !important;
  .text-muted;
}

.gameTurn {
  background-color: lightcoral !important;
  border: 1px solid #A85959 !important;
}

.margin {
  padding: 0px;
  border: 1px solid gainsboro;
}

.inline-text {
  width: 30px !important;
  display: inline !important;
  padding: 0px !important;
  margin: 0px !important;
  font-color: text-primary !important;
}

#game-room-players {
  width: 100% !important;
}

#story-editor {
  width: 100% !important;
}

#global-container {
  padding: 0px;
}

.player-name {
  background-color: #ffffff !important;
  text-align: center;
  padding: 10px;
  border: 1px indianred;
}

.player-name img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.left-scroll {
  float:left;
}

.right-scroll {
  float: right;
}