body {
    padding: 70px 3em 3em 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

textarea {
    resize: none;
}

.inlineBlock {
    display: inline-block;
}

.topAligned {
    vertical-align: top;
}

.player-list {

}

.player {
    display: inline !important;
    /*list-style-type: none;*/
}