<div>
    <h3><%= title %></h3>
    <h3>Story Title</h3>
    <div id="story text"><%= text %></div>
    <div>
        <p>Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. </p>
        <p>More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. </p>
    </div>
</div>
