<h1>Create Story Circle</h1>
<div class="container">
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-3">
            <div class="form-group">
                <label class="control-label" for="input-name">Your Name</label>
                <!--<span class="input-group-addon">@</span>-->
                <input id="input-name" type="text" class="form-control" placeholder="Your Name Please...">
                <span class="help-block">Other players in the circle will see this name</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="input-circle-name">Name Your Story Circle</label>
                <input id="input-circle-name" type="text" class="form-control" placeholder="Story Circle Name...">
                <span class="help-block">So that your friends can find it</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="input-max-players">Maximum Number of Players</label>
                <input id="input-max-players" type="number" class="form-control" value="6" max="6" min="2">
                <span class="help-block">You can choose to limit number of players in this circle, always limited to 6</span>
            </div>
            <div class="form-group">
                <input id="create" type="button" class="btn btn-primary btn-lg center-block" disabled value="Create!">
            </div>
        </div>
    </div>
</div>


