<div class="panel panel-primary">
    <div id="story" class="panel-body">
        <h3><%= title %></h3>
        <h3>Story Title</h3>
        <div id="story text"><%= text %></div>
        <div>
            <p>Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. Story text. </p>
            <p>More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. More story text. </p>
        </div>
    </div>
    <div id="controls" class="panel-footer">
        <button id="join-game" type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#join-game-modal">Join Game</button>
        <div class="btn-group">
            <button id="be-right-back" type="button" class="btn btn-default">Be Right Back</button>
            <button id="back-from-break" type="button" class="btn btn-default">Back From Break</button>
            <button id="quit-game" type="button" class="btn btn-warning" data-toggle="tooltip"
                    data-target="#myTooltip" title="quit game" data-placement="auto top" data-trigger="hover focus" data-container="body">
                <span class="glyphicon glyphicon-off"></span>
            </button>
        </div>
        <div id="myTooltip" class="tooltip">
            <div class="tooltip-inner">
                Tooltip!
            </div>
            <div class="tooltip-arrow"></div>
        </div>
        <div id="join-game-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>