<div class="btn-group">
    <button id="join-game" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
    <button id="take-break" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></button>
    <button id="quit-game" type="button" class="btn btn-default"><span class="glyphicon glyphicon-off"></span></button>
    <button id="submit" type="button" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
    <button id="stop" type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
    <button id="new-paragraph" type="button" class="btn btn-default"><span class="glyphicon glyphicon-text-height"></span></button>
</div>