<div class="panel-footer hidden" id="enter-name">
    <label class="text-info" >Enter Your Name to Play!</label>
    <input type="text" id="enter-name-input" class="form-control" placeholder="Your Name Please...">
</div>
<div class="panel-footer">
    <div class="btn-group">
        <button id="play-pause" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></button>
        <button id="new-paragraph" type="button" class="btn btn-default"><span>&para;</span></button>
        <button id="submit" type="button" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
        <button id="stop" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
    </div>
</div>
