<div class="container">
    <div class="page-header">
        <h1>Welcome to Story Circle!</h1>
    </div>
    <div>
        <p>Have you ever wanted to write something creative, but found your mind in a state of block, all along having the most interesting dreams at night without even trying? Unlimited creative potential is within each of us, waiting to be unleashed. Story Circle is two or more people writing together, one sentence at a time. It is an adventure, allowing you a peek into other&#39;s imagination, while exploring your own creativity. Get to know your friends at a deeper creative level, or find a new friend to compose together.</p>
        <p><a id="create-circle" class="btn btn-primary btn-lg btn-left-lg" role="button">Create<br>Story<br>Circle</a><a id="join-circle" class="btn btn-primary btn-lg btn-right-lg" role="button">Join<br>Story<br>Circle</a></p>
    </div>

</div>
